@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: transparent;
  z-index: 10;
}

main {
  width: 1024px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
 
}

nav main {
  padding-top: 10px;
}

nav main a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
  padding-right: 15px;
}

nav main a:hover {
  text-decoration: underline;
  color: yellow;
}



section {
  width: 100%;
  height: 100vh;
  position: relative;
}

section.full {
  background-image: url('../image/ELSA.jpg');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

section .left {
  position: relative;
  width: 40%;
  height: 100%;
  float: left;
}

section .right {
  position: relative;
  width: 60%;
  height: 100%;
  float: left;
}

section .melayang {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 40%;
  height: 200px;
  /*background-color: pink;*/
}

section.fun {
  background-image: url('../image/ELSA.jpg');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

section .left {
  position: relative;
  width: 60%;
  height: 100%;
  float: left;
}

section .right {
  position: relative;
  width: 40%;
  height: 100%;
  float: left;
}

section .terbang {
  position: absolute;
  top: 200px;
  left: 770px;
  width: 40%;
  height: 200px;
  /*background-color: pink;*/
}


section.funny {
  background-image: url('../image/ELSA.jpg');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

section .left {
  position: relative;
  width: 60%;
  height: 100%;
  float: left;
}

section .right {
  position: relative;
  width: 40%;
  height: 100%;
  float: left;
}

section .yuhu {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 40%;
  height: 200px;
  /*background-color: pink;*/
}


/**/

h1 {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  margin-bottom:10px;
}

h3 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding-top:20 px;
  margin-top:30px;
  margin-bottom:20px;
  
}


.full {
  font-size : 35px;
  font-family: 'Helvetica';
}

@media (max-width: 1024px) {
  main {
    width: 100vw;
  }
  
  section .left, section .right {
    width: 100%;
    height: 50vh;
  }
  
  section .melayang {
    top: 60%;
    left: 10%;
    width: 90%;
  }
   
  section .terbang {
    top: 60%;
    left: 10%;
    width: 90%;
  }
   
  section .yuhu {
    top: 60%;
    left: 10%;
    width: 90%;
  }
 
  

}
